# Android Studio/IntelliJ
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/tasks.xml
.idea/usage.statistics.xml

# Firebase config
app/google-services.json

# Gradle
.gradle/
build/
**/build/
local.properties

# NDK / CMake
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# Editor / Temp
*.swp
captures/
